{% extends "layout.html" %}
{% block title %}Log In{% endblock %}
{% block body %}
<div class=row>
    <h4>Log In</h4>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}</p>
    {% endif %}
</div>
<form method="POST" action="{{ url_for('login') }}">
    <div class=row>
        {{ form.name.label }} {{ form.name(size=20) }}
    </div>
    <div class=row>
        {{ form.password.label }} {{ form.password(size=20) }}
    </div>
    {{ form.csrf_token }}
    <div class=row>
        <input class="button-primary" type="submit" value="login">
        <a class="button" href="{{ url_for('show_entries') }}">Back</a>
    </div>
</form>
{% endblock %}
