{% extends "layout.html" %}
{% block body %}
<div class=row>
    <h4>Log In</h4>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}</p>
    {% endif %}
</div>
<form action="{{ url_for('login') }}" method=post>
    <div class=row>
        <input type=text name=username placeholder="Username" autofocus required>
    </div>
    <div class=row>
        <input type=password name=password placeholder="Password" required>
    </div>
    <div class=row>
        <input class=button-primary type=submit value=login>
        <a class="button" href="{{ url_for('show_entries') }}">Back</a>
    </div>
</form>
{% endblock %}
