{% extends "layout.html" %}
{% block title %}Entries{% endblock %}

{% block body %}
{% if session.logged_in %}
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    {{ form.title.label }} {{ form.title(size="40") }}
    {{ form.body.label }} {{ form.body(rows="4", cols="40") }}
    {{ form.csrf_token }}
    <br>
    <input class=button-primary type=submit value='Note It'>
</form>
{% for entry in entries %}
    <hr>
    <div class=row>
        <div class="seven columns">
            <h4 id="entryTitle">{{ entry.title }}</h4>
        </div>
        <div class="five columns">
            <span id="entryDate">{{ entry.post_date }}</span>
            <a class=button href="{{ url_for('edit_entry', id=entry.id) }}">Edit</a>
            <a class=button href="{{ url_for('delete_entry', id=entry.id) }}">Delete</a>
        </div>
        
    </div>
    <span id="entryBody">{{ entry.body|safe }}</span>
{% else %}
    <li>No entries here so far!</li>
{% endfor %}
{% endif %}
<hr>
{% endblock %}
